## Tuple
## Dictionary
## Set
## Conditional Statement 
## Loops in Python
## Function
## Packages and modules

In [1]:
# tuple
# By using () we are declaring the tuple
# It is immutabele

tuple1 = (14,16,18,22,25,23)
print(tuple1)

(14, 16, 18, 22, 25, 23)

In [2]:
# indexing and slicing 
tuple1[0]

14

In [3]:
tuple1[0:3]

(14, 16, 18)

In [4]:
tuple1[0]=25

TypeError: 'tuple' object does not support item assignment

In [5]:
tuple1.count(10)

0

In [6]:
tuple1.index(10)

ValueError: tuple.index(x): x not in tuple

In [7]:
tuple1.index(16)

1

# Dictionary
- It is declare with {}
- It is mutable
- In this we declare values with key,value paramers

In [8]:
dict1 = {"abhinav":85,"siva":100,"anil":99,"krishna":65}
print(dict1)

{'abhinav': 85, 'siva': 100, 'anil': 99, 'krishna': 65}

In [10]:
dict1['siva']

100

In [11]:
dict1['krishna']

65

In [12]:
# methods in dict
# --> keys()
dict1.keys()

dict_keys(['abhinav', 'siva', 'anil', 'krishna'])

In [13]:
# --> values()
dict1.values()

dict_values([85, 100, 99, 65])

In [15]:
dict1.update({'ramya':87})
print(dict1)

{'abhinav': 85, 'siva': 100, 'anil': 99, 'krishna': 65, 'ramya': 87}

In [16]:
dict1.pop('siva')

100

In [17]:
dict1

{'abhinav': 85, 'anil': 99, 'krishna': 65, 'ramya': 87}

In [18]:
dict1.popitem()
print(dict1)

{'abhinav': 85, 'anil': 99, 'krishna': 65}

In [19]:
dict1.items()

dict_items([('abhinav', 85), ('anil', 99), ('krishna', 65)])

# Set Data type
- It is mutable
- It is declare with {}
- It is unorder list
- It can't allow the duplicates

In [20]:
set1 = {10,25,15,32,21,10}
print(set1)

{32, 10, 15, 21, 25}

In [21]:
set1[0]

TypeError: 'set' object is not subscriptable

In [22]:
set1.add(100)
set1

{10, 15, 21, 25, 32, 100}

In [24]:
cricket = {"Narendra","pavan","mastan","krish","gopi","VC"}
kabaddi = {"pavan","gokul","shekhar","DJ","abhinav","anil"}

In [25]:
cricket.intersection(kabaddi)

{'pavan'}

In [26]:
cricket.union(kabaddi)

{'DJ',
 'Narendra',
 'VC',
 'abhinav',
 'anil',
 'gokul',
 'gopi',
 'krish',
 'mastan',
 'pavan',
 'shekhar'}

In [30]:
apssdc_test1 = {"pavani","alekhya","giri","sowmya"}
apssdc_test2 = {"giri","hari","bindhu","sowmya","sandhya"}

print("results",apssdc_test1.intersection(apssdc_test2))
print("test1",apssdc_test1)
print("test2",apssdc_test2)

results {'sowmya', 'giri'}
test1 {'pavani', 'giri', 'alekhya', 'sowmya'}
test2 {'hari', 'giri', 'sowmya', 'sandhya', 'bindhu'}

In [31]:
apssdc_test1 = {"pavani","alekhya","giri","sowmya"}
apssdc_test2 = {"giri","hari","bindhu","sowmya","sandhya"}

print("results",apssdc_test1.intersection_update(apssdc_test2))
print("test1",apssdc_test1)
print("test2",apssdc_test2)

results None
test1 {'sowmya', 'giri'}
test2 {'hari', 'giri', 'sowmya', 'sandhya', 'bindhu'}

In [32]:
attd_list = {12,15,45,78,61,16,36}
original_list = {12,13,14,15,16,45,46,47,36,37,61,77,78}

#original_list.issubset(attd_list)

attd_list.issubset(original_list)

True

# Conditional Statements
- if,elif,if else,nested if

In [33]:
num = 123
if num%2 == 0:
    print("Given Number is Even Number")
else:
    print("Given Number is odd Number")

Given Number is odd Number

In [35]:
# input method is used for taking the input from user 
original_user_name = "ranganayakulu123"
user_input = input("Enter the your user name:- ")
if original_user_name == user_input:
    print("your validation is success")
else:
    print("Try again with correct user name")

Enter the your user name:- 123
Try again with correct user name

# Loops
- for 
- While

In [36]:
for value in range(10):
    print(value,end = "-->")

0-->1-->2-->3-->4-->5-->6-->7-->8-->9-->

In [37]:
for value in range(1,100):
    print(value,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [38]:
for value in range(1,1000,10):
    print(value,end = "__")

1__11__21__31__41__51__61__71__81__91__101__111__121__131__141__151__161__171__181__191__201__211__221__231__241__251__261__271__281__291__301__311__321__331__341__351__361__371__381__391__401__411__421__431__441__451__461__471__481__491__501__511__521__531__541__551__561__571__581__591__601__611__621__631__641__651__661__671__681__691__701__711__721__731__741__751__761__771__781__791__801__811__821__831__841__851__861__871__881__891__901__911__921__931__941__951__961__971__981__991__

In [39]:
table_num = int(input("Enter required table Number: "))
for i in range(1,11):
    print(table_num,'*',i,'=',table_num*i)

Enter required table Number: 10100
10100 * 1 = 10100
10100 * 2 = 20200
10100 * 3 = 30300
10100 * 4 = 40400
10100 * 5 = 50500
10100 * 6 = 60600
10100 * 7 = 70700
10100 * 8 = 80800
10100 * 9 = 90900
10100 * 10 = 101000

In [40]:
table_num = int(input("Enter required table Number: "))
starting_value = int(input("Enter the staring required value"))
ending_value = int(input("Enter the ending required product"))
for i in range(starting_value,ending_value+1):
    print(table_num,'*',i,'=',table_num*i)

Enter required table Number: 250
Enter the staring required value25
Enter the ending required product35
250 * 25 = 6250
250 * 26 = 6500
250 * 27 = 6750
250 * 28 = 7000
250 * 29 = 7250
250 * 30 = 7500
250 * 31 = 7750
250 * 32 = 8000
250 * 33 = 8250
250 * 34 = 8500
250 * 35 = 8750

# Strong Password

- Min one Upper Case Charactor
- Min One Lower Case Charactor
- Min one Special Charactor or Symbol
- Min one Number or digit
- Min password length having 9 Charactors

In [42]:
password = "Apssdc@967"
upper = lower = special = numbers = 0
for char in password:
    if char.isupper():
        upper = upper+1
    elif char.islower():
        lower = lower+1
    elif char.isdigit():
        numbers+=1
    else:
        special+=1
if upper>=1 and lower>=1 and numbers>=1 and special>=1 and len(password) >= 9:
    print("Your password is valid and strong Password")
else:
    print("Weak password try to use one lower,upper,special char,number and length  greather than 9")

Your password is valid and strong Password

# Functions

## Syntax
```
def function_name(arguments):
    statements
```

In [45]:
def wishes(name):
    return "Good Afternoon "+name

In [46]:
wishes("Ranga")

'Good Afternoon Ranga'

In [47]:
def numberchar(name):
    dict1 = {}
    for char in name:
        if char in dict1:
            dict1[char] = dict1[char]+1
        else:
            dict1[char] = 1
    return dict1

# input = apssdc
# dict1 = {'a':1,'p':1,'s':2,'d':1,"c":1}

In [48]:
numberchar("ranganayakulu")

{'r': 1, 'a': 4, 'n': 2, 'g': 1, 'y': 1, 'k': 1, 'u': 2, 'l': 1}

In [50]:
# Default Argument Function
# range is example for default argument function
def add(n1,n2=100):
    return n1+n2

add(200)

300

In [51]:
add(10,20)

30

In [54]:
# keyword Argument Function
def wish(name,program):
    return "Welcome to "+program+" Internship wishes to "+name

wish(name = "saroja",program = "Data Science")

'Welcome to Data Science Internship wishes to saroja'

In [55]:
wish("saroja",program = "Data Science")

'Welcome to Data Science Internship wishes to saroja'

In [56]:
# Variable length Argument Function
# print is the example for variable length argument function

def add(n1,n2,*n3):
    return n1,n2,n3

add(10,15,25,30)

(10, 15, (25, 30))

In [57]:
def sum1(a,b,*c):
    return a+b+sum(c)
sum1(10,20,30,40)

100

# Packages and modules

## Module
- module is a .py file 
- in .py we have different methods or collection of methods
- by using **import** we can import our required module 
- Our jupyter file location and module are in same location

## Package
- Package is a collection of modules
- By using **import** keyword we can import required packages

In [58]:
import Arthematic
Arthematic.sum1(10,25)

35

In [59]:
import Arthematic as ar
ar.div(100,2555)

0.03913894324853229

In [60]:
from anupackage import logical
logical.bbbb(10,20)

'not equal'

## http://bit.ly/apssdc-git